html, body, #content {
    height: 100%;
}

.md {
    width: 100%;
    height: 100%;

    border: 1px solid #e6e6e6;

    .toolbar {
        opacity: 0;
        transition: opacity linear 0.3s;
        
        &:hover {
            opacity: 1;
        }

        cursor: pointer;

        width: 3 * 16x;
        height: 20px;

        position: absolute;
        right: 20px;
        top: 0;

        z-index: 1000;

        text-align: center;

        span:hover {
            font-weight: bold;
        }
    }
}

.preview {
    height: 100%;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.editor {
    height: 100%;

    textarea {
        width: 100%;
        height: 100%;

        resize: none;
        border: none;
        outline: none;
    }
}

.message {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    padding: 10px;

    background: #F8A800;

    * {
        margin: 0;
    }

    .close {
        position: absolute;
        top: 10px; right: 10px;

        cursor: pointer;

        &:hover span {
            font-weight: bold;
        }    
    }

    .buttons {
        margin-top: 10px;
        text-align: right;
    }
}