html, body, #content, #content > div {
    height: 100%;
}

$toolbarHeight: 22px;
.md {
    width: 100%;
    height: calc(100% - #{$toolbarHeight});

    border: 1px solid #e6e6e6;

    &:hover .toolbar {
        opacity: 1;
    }   
}

.toolbar {
    opacity: 1;
    transition: opacity linear 0.3s;    

    width: 100%;
    height: $toolbarHeight;

    clear: both;

    user-select: none;
    -moz-user-select: none;

    span { 
        cursor: pointer;

        padding: 3px 4px;

        &:hover {
            background: #d4e5f5;
        }

        &.right {
            float: right;
        }
    }
}

.preview {
    height: 100%;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.editor {
    height: 100%;

    & > * {
        height: 100%;
    }

    textarea {
        width: 100%;
        height: 100%;

        resize: none;
        border: none;
        outline: none;
    }
}

.message {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    padding: 10px;

    background: #F8A800;

    * {
        margin: 0;
    }

    .close {
        position: absolute;
        top: 10px; right: 10px;

        cursor: pointer;

        &:hover span {
            font-weight: bold;
        }    
    }

    .buttons {
        margin-top: 10px;
        text-align: right;
    }
}